# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/

# production
/build
/dist

# testing
/coverage
/playwright-report/
/test-results/
/blob-report/

# env files (never commit secrets)
.env
.env*.local

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*-debug.log*
*.log
logs/

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# docker
docker-data/
